#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}

button {
    background-color: darkslateblue;
    color: white;
    padding: 12px 44px;
    text-transform: uppercase;
    border-radius: 5px;
}

.input-field-search {
    padding: 11px 44px;
    border-radius: 5px;
    font-size: 1rem;
}

.country-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.country-list li {
    border: 1px solid darkslateblue;
    flex-basis: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.country-information {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 400px;
    padding: 12px;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.country-description {
    text-align: center;
    font-size: 1.5rem;
}

.image-flag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-flag-container img {
    width: 80px;
    padding-right: 12px;
}



.asia {
   color: #9e1b32;
}

.europe {
    color: #FEBE10;
}

.africa {
    color: #007FFF;
}

.the-caribean {
    color: #00563B;
}

.south-america {
    color: #006400;
}

.north-america {
    color: #17B169;
}

.central-america {
    color: #3EB489;
}

.australia {
    color: #33006F;
}

.default-continent {
    color: darkmagenta;
}

.error-message {
    color: red;
}